h2{
    color: gray;
}
h1{
    background-color: rgb(230, 220, 220);
    text-align: center;
}
h3{
    color: blue;
}
.bigcontainer{
    display: flex;
    gap: 50px;
}
.img1{
    border-radius: 50%;
}
.container2{
    line-height: 40px;
}
.img3{
    width: 300px;
    height: 200px;
}
.img2{
    width: 300px;
    height: 200px;
}
body{
    margin: auto;
}
.p3{
  background-color: yellow;  
}
.bigcontainer2{
    display: flex;
    gap: 50px;
    
}
.imgcontainer1{
    border: solid black;
    padding: 20px;
}
.imgcontainer2{
    border: solid black;
    padding: 20px;
}
.botton1{
   background-color: blue;
   color: aliceblue;
}